<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_id, class: "form-label" %>
    <%= form.collection_select :patient_id, Patient.all,:id,:name, include_blank: true,  class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :therapist_id, class: "form-label" %>
    <%= form.collection_select :therapist_id, Therapist.all,:id,:name, include_blank: true,   class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :raw_notes, class: "form-label" %>
    <%= form.text_area :raw_notes, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
