<h4 class="text-center"> Report : <%=@note.heading%> </h4>
</br>
<span><b> Patient Name :-</b>
<span><%= @note.patient.name%></span>
</br>
<span><b> Test Type :-</b>
<span><%= @note.test_type%></span><br><br>
<h6><b>Test Description</b></h6>
<table>
  <thead>
    <tr>
      <th >Word</th>
      <th>Result</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% structure_data.each do |data| %>
      <tr>
        <td><%=data.keys[0]%></td>
        <td><%=get_result(data.values[0])%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h6> Result: <%=@note.result%> </h6>
</h6>Result has been approved by: <%=@note.therapist.name%></h6><br><br>

