<h1 class="text-center"> Report </h1>
</br>
<span><b>Patient Name :-</b></span>
<span><%= @note.patient.name%></span>
</br>
<span><b> Test Type :-</b></span>
<span><%= @note.test_type%></h2></span><br><br>
<h5>Test Description</h5>


<div class="container">
  <div class="row">
    <div class="col margin-right">
     <h3>Noun</h3>
		<div><b>Description</b></div>
		<% get_noun_description(@note.n_performance).each do |description| %>
		<div class="container"><li><%=description%></li></div>
		<%end%><br>
		<div><b>Error To Speak:-</b> <%=@note.n_error%></div>
		<div><b>Result:-</b> <%=get_noun_result(@note.n_performance)%> </div>
    </div>
    <div class="col">
      	<h3>Verb</h3>
		<div><b>Description</b></div>
		<% get_noun_description(@note.v_performance).each do |description| %>
		<div class="container"><li><%=description%></li></div>
		<%end%><br>
		<div><b>Error To Speak:-</b> <%=@note.v_error%></div>
		<div><b>Result:-</b><%=get_noun_result(@note.v_performance)%></div>
    </div>
  </div>
<br>
<h5><b>Final Result:-</b> <%=@note.result%> </h5>
</h6><b>Result has been approved by:-</b> <%=@note.therapist.name%></h6><br><br>