<h4 class="text-center">  Report For Stage One</h4>
</br>
<div class="container">
  <span><b> Patient Name :-</b>
  <span><%= @note.patient.name%></span>
  </br>
  <span><b> Test Type :-</b>
  <span><%= @note.test_type%></span><br><br>
  <h6><b>Test Description</b></h6>
  <% for i in 0..@note.patient_performance.length %>
   <li><%=@note.patient_performance[i]=="+"? "success" : "unsuccess"%></li>
  <% end %><br><br>
  <h6><b>Error To Speak:-</b></h6>
  <% stage_one_error(@note.error).each do |error| %>
  <li><%= error %></li>
  <% end %> 
  <h5> Result: <%=@note.result%> </h5>
  </h6><b>Result has been approved by:-</b> <%=@note.therapist.name%></h6><br><br>
</div>

