<body class="container">
  <p id="notice"><%= notice %></p>

  <h1>Notes</h1>
  <%= link_to 'New Note', new_note_path, class: "btn btn-info" %><br><br>

  <table>
    <thead>
      <tr>
        <th >Patient</th>
        <th>Therapist</th>
        <th>Raw notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.patient.name%></td>
          <td><%= note.therapist.name %></td>
          <td><%= note.raw_notes %></td>
          <td><%= link_to 'Show', note, class: "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</body>