<body class="container">
  <p id="notice"><%= notice %></p>
  <% if @note.stage=="one" %>
    <%= render "stage_one" %>
  <% elsif @note.stage=="two" %>
    <%= render "stage_two" %>
  <% elsif @note.stage=="three" %>
    <%= render "stage_three" %>
  <% else%>
   <h1>Report doesn't have any format to show.</h1>
  <%end%> 
  <%= link_to 'Back', notes_path, class: "btn btn-info" %>
</body>